.App {
  text-align: center;
  background-color: #a3a3a3;
  background-image: url("./Assets/Images/Illustration1.png"),url("./Assets/Images/Illustration2.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Metrophobic", sans-serif;
}
